<!DOCTYPE html>
<html>
<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_img_url }}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }} <!-- Header hook for plugins -->
    {{ 'bundle.css' | asset_url | stylesheet_tag }}
    {{ 'fonts.css' | asset_url | stylesheet_tag }}

    <!-- Pinterest tag -->
    <script type="text/javascript">
        !function(e){if(!window.pintrk){window.pintrk=function()
        {window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
        n=window.pintrk;n.queue=[],n.version="3.0";var
        t=document.createElement("script");t.async=!0,t.src=e;var
        r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(t,r)}}
        ("https://s.pinimg.com/ct/core.js");

        pintrk('load','2614274468801', { em: '{{ customer.email }}', });
        pintrk('page');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none;" alt=""
        src="https://ct.pinterest.com/v3/?tid=YOUR_TAG_ID&noscript=1" />
    </noscript>
    <!-- End Pinterest tag -->

</head>

<body>

    <div id="container">

        {% include 'header' %}
        {{ content_for_layout }}
        {% include 'footer' %}
    </div>

    <!-- Vue -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script> -->
    <script src="https://unpkg.com/vuex@3.1.0/dist/vuex.js"></script>
    
    <!-- Main script -->
    <script src="{{ 'bundle.js' | asset_url }}" async></script>
</body>
</html>
